.info {
  margin-top: 50px;
  width: 100%;
  display: flex;
  gap: 40px;

  img {
    width: 100%;
  }

  h3 {
    font-weight: 500;
    font-size: 30px;
  }

  h5 {
    margin: 5px 0px;
    font-size: 20px;
    color: gray;
  }

  .description {
    margin: 1rem 0;
    font-size: 24px;
    width: 100%;
  }
}

@media (max-width: 1150px) {
  .info {
    .info__content {
      max-width: 450px;
    }
  }
}

@media (max-width: 1024px) {
  .info {
    flex-direction: column;

    .info__content {
      width: 100%;
      max-width: 100%;
    }
  }
}
